{% load static %}
<div class="container-fluid footer-sec mt-30">
        <div class="container padd-60">
            <div class="col-md-12 footer-top-sec">
                <div class="col-md-4 col-sm-5 payment">
                    <img src="{% static 'img/footer/paypal.png'%}" alt="" class="img-responsive" />
                    <img src="{% static 'img/footer/visa.png'%}" alt="" class="img-responsive" />
                    <img src="{% static 'img/footer/mastercard.png'%}" alt="" class="img-responsive" />
                </div>
                <div class="col-md-4 col-sm-2 footer-logo"><img src="{% static 'img/S.png'%}" alt="" class="img-responsive" /></div>
                <div class="col-md-4 col-sm-5 social-sec text-center">
                <div class="social">
                    <div class="social-circle"><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></div>
                    <div class="social-circle"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                    <div class="social-circle"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div class="social-circle"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="col-md-12 call">
                
            </div>
        </div>
        </div>
        
        <div class="container-fluid copy-right">
            <div class="container">
                <div class="col-md-4 col-sm-3 copy-text">
                    <p>© 2018 <a href="#">Shoppe</a>.</p>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-9 terms-condition text-right">
                    <ul>
                        
                    </ul>
                </div>
            </div>
        </div>

        