{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index-new-1</title>
    <link rel="icon" href="img/index/favicon.png" sizes="16x16">
    <!--css-->
    <link href="css/style-1.css" rel="stylesheet" type="text/css">
    <!--BOOTSTRAP-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="fonts/font/flaticon.css" rel="stylesheet" type="text/css">
    <!--thumbnail-slider-->
    <link href="css/lightslider.css" rel="stylesheet" type="text/css">
    <!--slider-->
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">

</head>