{% load static %}
<header class="border">
        <div class="container header-sec">
        
              <div class="col-md-5 header">
                  <div class="header-left">
                       
                  </div>
              </div>
              
              <div class="col-md-7 col-sm-12 header">
                    <div class="header-right">
                        <div class="top-bar-list">
                            <i class="flaticon-delivery"></i>
                            <a href="{% url 'order:list-order' %}"><p>Kiểm Tra Đơn Hàng</p></a>
                            </div>
                            
                        <div class="top-bar-list">
                            
                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'account_logout' %}" id="frm">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <a href="javascript:;" onclick="$(this).closest('form').submit()"><i class="flaticon-login"></i><p>Chào {{ user.username }}</p></a>
                        </form>
                        
                       
                        
                        {% else %}
                        <i class="flaticon-login"></i>
                        <p>
                            <b><a href="#">Đăng ký</a></b> hoặc <b><a href="/accounts/login"
                                    >Đăng nhập</a></b>
                        </p>
                        {% endif %}
                        
                        </div>
                    </div>
              </div>
              <div class="clearfix"></div>
              
            </div>
            
        
        
        </header>