{% load static %}
<header class="border">
        <div class="container header-sec">
        
              <div class="col-md-5 header">
                  <div class="header-left">
                       
                  </div>
              </div>
              
              <div class="col-md-7 col-sm-12 header">
                    <div class="header-right">
                        <div class="top-bar-list">
                            <i class="flaticon-delivery"></i>
                            <a href="#"><p>Kiểm Tra Đơn Hàng</p></a>
                            </div>
                            
                        <div class="top-bar-list">
                        <i class="flaticon-login"></i>
                        <p><b><a href="#" data-toggle="modal" data-target="#myModal">Đăng ký</a></b> hoặc <b><a href="#" data-toggle="modal" data-target="#myModal2">Đăng nhập</a></b></p>
                        </div>
                    </div>
              </div>
              <div class="clearfix"></div>
              
            </div>
            
        
        
         <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-sm-5 modal-img">
                                <img src="{% static 'img/index/modal-bg.jpg'%}" class="img-responsive" alt="" />
                                <h2>Sign In</h2>
                                <p>Sign up our Website and receive up to $100 coupon for first shopping</p>
                                <div class="modal-img-text"><a href="#"><img src="{% static 'img/index/login-logo.png'%}" alt="" class="img-responsive" /></a></div>
                        </div>
                        <div class="col-sm-7 modal-text">
                        
                            <div class="form-sec">
                            
                              
                              <div class="tab-content"> 
                                        <div class="social-button">
                                            <div class="facebook"><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i>Sign in with facebook</a></div>
                                            <div class="facebook google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Sign in with google</a></div>
                                            <div class="facebook twitter text-center"><a href="#"><i class="fa fa-twitter pull-left" aria-hidden="true"></i>Sign in with twitter</a></div>
                                        </div>	
                                           <div class="or"><span>Or</span></div>
                                        <div class="input-row">
                                            <h5>username</h5><input class="input-1" type="text" name="username" placeholder="Enter username" />
                                            <span class="underline"></span>
                                        </div>
                                        <div class="input-row">
                                            <h5>email</h5><input class="input-1" type="email" name="email" placeholder="Enter your Email ID" />
                                            <span class="underline"></span>
                                        </div>
                                        <div class="input-row">
                                            <h5>password</h5><input class="input-1" type="text" name="password" placeholder="Enter your password" />
                                            <span class="underline"></span>
                                        </div>
                                        <div class="input-row">
                               <h5>Re-enter your password</h5><input class="input-1" type="text" name="re-enter-password" placeholder="Re-Enter your Password" />
                                            <span class="underline"></span>
                                        </div>
                                    <div class="clearfix"></div>
                                    <div class="privacy-sec">
                                        <input id="4" type="checkbox" /><label for="4">Remember me</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button">
                                        <a href="#">Get started</a>
                                    </div>
                                    <div class="modal-acc">
                                    <p>Already have an account? <a data-toggle="modal" id="reg-m" data-target="#myModal2" href="#">Log In</a></p>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        
                        </div>
                    
                        <div class="clearfix"></div>
                        
                  </div>
                </div>
              </div>
            </div>
            
            <!--modal-->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-sm-5 modal-img">
                                <img src="{% static 'img/index/modal-bg.jpg'%}" class="img-responsive" alt="" />
                                <h2>Login</h2>
                                <p>Sign up our Website and receive up to $100 coupon for first shopping</p>
                                <div class="modal-img-text"><a href="#"><img src="{% static 'img/index/login-logo.png'%}" alt="" class="img-responsive" /></a></div>
                        </div>
                        <div class="col-sm-7 modal-text">
                        
                            <div class="form-sec">
                            
                              
                              <div class="tab-content"> 
                                        <div class="social-button">
                                            <div class="facebook"><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i>Sign in with facebook</a></div>
                                            <div class="facebook google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Sign in with google</a></div>
                                            <div class="facebook twitter text-center"><a href="#"><i class="fa fa-twitter pull-left" aria-hidden="true"></i>Sign in with twitter</a></div>
                                        </div>	
                                           <div class="or"><span>Or</span></div>
                                         <div class="input-row">
                                            <h5>email</h5><input class="input-1" type="email" name="email" placeholder="Enter your Email ID" />
                                            <span class="underline"></span>
                                        </div>
                                        <div class="input-row">
                                            <h5>password</h5><input class="input-1" type="text" name="password" placeholder="Enter your password" />
                                            <span class="underline"></span>
                                        </div>  
                                    <div class="clearfix"></div>
                                    <div class="privacy-sec">
                                        <input id="5" type="checkbox" /><label for="5">Remember me</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button">
                                        <a href="#">Get started</a>
                                    </div>
                                    <div class="modal-acc">
                                    <p>Already have an account? <a data-toggle="modal" id="log-m" data-target="#myModal" href="#">Sign In</a></p>
                                    </div>
                                    <div class="swiss-right"><p>© 2018 <a href="#">Graby shop</a>. All Rights Reserved.</p></div>                        </div>
                            
                            </div>
                        
                        </div>
                    
                        <div class="clearfix"></div>
                        
                  </div>
                </div>
              </div>
            </div>
            
        </header>