{% load static %}
<div class="container menu">
        <nav class="navbar navbar-default">
            
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
               
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="javascript:void(0)">Trang chủ  </a>
                    
                </li>
                <li class="has-child"><a href="javascript:void(0)">Thể Loại <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-mega-menu">
                                    <div class="nav-main-menu">
                                        <span>
                                                <a href="product-list.html">Product-List</a>
                                                <a href="product-grid.html">Product-Grid</a>
                                                <a href="product-detail.html">Product-Detail</a>
                                        </span>
                                    </div>
                                </div>
                </li>
                <li><a href="{% url 'product:list-products' %}">Phổ Biến</a></li>
                <li><a href="#">Chất Lượng</a></li>
                <li><a href="#">Đang Sale</a></li>
                
                
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Giảm Giá Trong Ngày</a></li>
              </ul>
            </div>
            
        </nav>
        </div>