<div class="container menu">
    <nav class="navbar navbar-default">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li class="active has-child"><a href="javascript:void(0)">Home <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a>
                    <div class="nav-mega-menu">
                        <div class="nav-main-menu">
                            <span>
                                <a href="index.html">Home</a>
                                <a href="#" class="active">Home-V1</a>
                                <a href="index-2.html">Home-Clothes</a>
                                <a href="index-3.html">Home-Product</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="has-child"><a href="javascript:void(0)">Shop <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a>
                    <div class="nav-mega-menu">
                        <div class="nav-main-menu">
                            <span>
                                <a href="product-list.html">Product-List</a>
                                <a href="product-grid.html">Product-Grid</a>
                                <a href="product-detail.html">Product-Detail</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li><a href="#">Promotions</a></li>
                <li class="has-child"><a href="javascript:void(0)">Pages <i class="fa fa-angle-down"
                            aria-hidden="true"></i> </a>
                    <div class="nav-mega-menu">
                        <div class="nav-main-menu">
                            <span>
                                <a href="about-us.html">About</a>
                                <a href="blog.html">Blog</a>
                                <a href="blog-detail.html">Blog-Detail</a>
                                <a href="cart.html">Cart</a>
                                <a href="cart-1.html">Cart V1</a>
                                <a href="check_out.html">Check_Out</a>
                                <a href="404.html">404</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="has-child"><a href="javascript:void(0)">Features</a></li>
                <li><a href="#">Super deals</a></li>
                <li class="has-child"><a href="javascript:void(0)">Contact <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a>
                    <div class="nav-mega-menu">
                        <div class="nav-main-menu">
                            <span>
                                <a href="contact.html">Contact</a>
                                <a href="contact-1.html">Contact V1</a>
                            </span>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Super Deals</a></li>
            </ul>
        </div>

    </nav>
</div>