 <!--js-->
 <script src="js/ajax.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <!--slider-->
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/theme.js"></script>
 <!--countdown-->
 <script src="js/countdown.js"></script>
 <!--light-slider-->
 <script src="js/lightslider.js"></script>
 <!--index-->
 <script src="js/index.js"></script>
 <!--client-slider-->
 <script src="js/jquery.flexisel.js"></script>
 <!--circle-count-down-->
 <script src="js/TimeCircles.js"></script>
 <script>
     $("#DateCountdown").TimeCircles();
 </script>
 <!--custom-->
 <script src="js/custom.js"></script>
 <script language=JavaScript>
     $(document).keydown(function (event) {
         if (event.keyCode == 123) { // Prevent F12
             return false;
         } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
             return false;
         }
     });

     $(document).on("contextmenu", function (e) {
         e.preventDefault();
     });
 </script>