{% load static %}
<div class="container logo-bar">
        <div class="col-md-3 logo-name text-center">
            <a href="/"><img src="{% static 'img/S.png'%}" style="height: 74px;" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-md-6 search">
            <form id="form-search">
            <input type="text" id="search" placeholder="Tìm kiếm..." />
            
            <select name="category" id="category">
                <option value="None">Tất cả thể loại</option>
                
                {% for a in categories.all %}
                <option value="{{ a.slug}}">{{ a.nameCat}}</option>
                {% endfor %}
                    
               
            </select>
            <div class="round search-round"><a href="#"><i class="flaticon-search"></i></a></div>
        </form>
        </div>
        <div class="col-md-3 shopping-cart">
            <div class="icon-round">	
            
                <div class="cart-item">
                    <div class="cart-mail">
                        <a href="{% url 'cart:detail-cart' %}"><i class="flaticon-shopping-cart"></i>
                        
                        {% if cart|length > 0 %}
                        <span>{{ cart|length }}</span>
                        {% endif%}
                        
                        </a>

                    </div>
                    <p><a href="{% url 'cart:detail-cart' %}">Giỏ hàng<span>{{ cart.get_total_price_vnd}}</span></a></p>						
                                
                                <div class="cart-item-hover">
                                    
                                    {% for item in cart %}
                                    {% with product=item.product  %}
                                    
                                    {% if product %}
                                        
                                    
                                        
                                    <div class="cart-item-list">
                                            <img src="{{ product.thumb.url}}" alt="" width="60" height="60"/>
                                            <a href="{{ product.get_absolute_url }}"><h3>{{ product.title}}  x{{ item.quantity}}</h3></a>
                                            <b><a href="{% url 'cart:remove-cart' product.slug %}">x</a></b>
                                            <p>{{ product.get_price_discount_vnd}}
                                                {% if product.discount_price %}
                                                    <del>{{ product.get_price_vnd }}</del>
                                                {% endif %}
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% endwith %}
                                        {% empty %}
                                        <p>Không có sản phẩm nào</p>
                                    {% endfor %}
                                    <div class="border"></div>
                                    <div class="cart-total">
                                        <h6>Tổng tiền :</h6> <p>{{ cart.get_total_price_vnd}}</p><div class="clearfix"></div>
                                        <a href="{% url 'cart:detail-cart' %}" class="cart-view">Xem Chi Tiết</a>
                                        
                                    </div>
                                    
                                </div>

                                
                </div>
            </div>
           
        </div>
        <div class="clearfix"></div>
    </div>

