{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giỏ hàng</title>
    <link rel="icon" href="{% static 'img/index/favicon.png' %}" sizes="16x16">
    <!--css-->
    <link href="{% static "css/style.css"%}" rel="stylesheet" type="text/css">
    <!--BOOTSTRAP-->
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet" type="text/css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "fonts/font/flaticon.css"%}" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="shp-cart new-cart">

        <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>

        <!--header-->
        {% include './layouts/header.html' %}

        <!--search-->
        {% include './layouts/search.html' %}

        <!--menu-->
        {% include './layouts/menu.html' %}

        <!--Header-->
        <div class="container-fluid header-main">
            <div class="container text-center">
                <h2>Giỏ hàng</h2>
                <div class="link-sec">
                    <a href="#">Home</a> <i class="fa fa-angle-right"></i> <a href="#">Giỏ hàng</a>
                </div>

            </div>
        </div>

        <!--main-sec-->
        <div class="container cart-sec padd-80">
            
            <div id="msform">
                {% if messages %}
                    {% for message in messages %}
                     <div class="alert alert-{{ message.tags }}" role="alert">
                           <strong> {{ message }}</strong>
                      </div>
                      {% endfor %}
                   
                {% endif %}
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Giỏ hàng</li>
                    <li>Vận chuyển</li>
                    <li>Thanh Toán</li>
                    <li>Xác Nhận</li>
                </ul>

                <!-- fieldsets -->
                <fieldset class="cart-tab">

                    <div class="col-md-12 element-table">
                        <div class="row">
                            <table>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                                {% for item in cart %}
                                <tr>
                                    {% with product=item.product  %}
                                    <td class="width">
                                        <div class="image">
                                            <img src="{{product.thumb.url}}" alt="" class="img-responsive" width="100" height="100"/>
                                            <p>{{ product.title}}</p>
                                            
                                            <h5>{{ product.categories }}</h5>
                                        </div>
                                    </td>
                                    <td class="cart-price">{{ product.get_price_discount_vnd}} 
                                    {% if product.discount_price %}
                                        <del>{{ product.get_price_vnd }}</del>
                                    {% endif %}</td>
                                    <td class="user">

                                        <div id=field1 class="quantity">
                                            <input type="hidden" name="slug" value={{ product.slug }}>
                                            <button type="button" id="sub" class=sub><i class="fa fa-minus"
                                                    aria-hidden="true"></i></button>
                                            <input name="soluong" type="text" id="1" value={{ item.quantity}} class=field>
                                            <button type="button" id="add" class=add><i class="fa fa-plus"
                                                    aria-hidden="true"></i></button>
                                        </div>

                                    </td>
                                    <td>{{item.total_price_vnd}}</td>
                                    <td><a href="{% url 'cart:remove-cart' product.slug %}"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></td>
                                    {% endwith %}
                                </tr>
                                {% empty %}
                                    <td colspan="4">Không có sản phẩm</td>
                                {% endfor %}
                                
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <div class="shp-cart-btn">
                        
                        <a href="{% url 'cart:remove-all-cart' %}" class="cart-btn">Xoá hết sản phẩm</a>
                    </div>
                    
                    {% if cart.coupon.amount is None %}
                        <div class="promo-input">
                            <form id="magiamgia" method="POST" action="{% url 'cart:check-coupon' %}">
                                <i class="flaticon-percentage"></i>
                                {% csrf_token %} 
                                <input type="text" name="code" placeholder="Mã giảm giá" />
                                <a href="javascript:{}" onclick="document.getElementById('magiamgia').submit();" class="promo-i"><i class="flaticon-5-thin-right-arrow" ></i></a>
                            </form>
                        </div>
                    {% endif %}
                        
                    
                    <div class="pull-right">
                        <button id="update-cart" class="cart-btn upd-btn">Cập nhật giỏ hàng</button>
                        <a href="{% url 'product:list-products' %}" class="shp-btn">Tiếp tục mua hàng</a>

                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-6 shp-coupon pay-faq checkout">
                        <!-- <h2>Estimate shipping and tax</h2>
                        <p>Enter your destinations to get a shipping estimate</p>
                        <select class="form-control">
                            <option>Country</option>
                            <option>India</option>
                            <option>England</option>
                            <option>China</option>
                            <option>Sri Lanka</option>
                        </select>
                        <div class="state">
                            <input class="code" type="text" placeholder="State/Province*">
                            <input type="text" placeholder="Zip code*">
                            <a href="#" class="shp-btn pull-right">Estimate</a>
                        </div> -->
                    </div>
                    <div class="col-md-6 shp-checkout checkout pay-faq">
                        <h2>Tổng giá tiền trong giỏ hàng</h2>
                        <div class="element-table">
                            <table class="text-uppercase">
                                <tr>
                                    <td><b>Subtotal</b></td>
                                    <td class="text-right">{{ cart.get_total_price_vnd}}</td>
                                </tr>

                                <tr>
                                    <td><b>Phí vận chuyển</b></td>
                                    <td class="shipping text-right text-capitalize">Miễn phí</td>
                                </tr>
                                  {% if cart.coupon.amount %}
                                 
                                  <tr>
                                        <td><b>Mã giảm giá</b></td>
                                        <td class="shipping text-right text-capitalize">- {{ cart.amount_coupon_vnd}}</td>
                                        <td><a href="{% url 'cart:remove-coupon' cart.coupon.code %}">&nbsp<i class="fa fa-times-circle-o" aria-hidden="true"></i></a></td>
                                    </tr>
                                  <tr>
                                  {% endif %}

                                    <td><b>Tổng tiền :</b></td>
                                    <td class="total text-right">{{ cart.get_total_price_after_discount_vnd}}</td>
                                    
                                </tr>
                            </table>
                        </div>
                        {% if user.is_authenticated %}
                        <a href="javascript:void(0)" class="next shp-btn pull-right">Thanh Toán</a>
                        {% else %}
                        <a href="/accounts/login" class="next shp-btn pull-right">Đăng nhập để thanh toán</a>
                        {% endif%}
                    </div>
                    {% endif%}
                    {% endwith %}
                    <div class="clearfix"></div>

                </fieldset>

            </fieldset>
         
        	<fieldset class="delivery-tab">
         	<div class="col-md-10 col-md-offset-1">

              
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Free" class="cart-btn free-del" aria-controls="Free" role="tab" data-toggle="tab">Vui lòng điền đầy đủ thông tin</a></li>
                
              </ul>
            
              
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Free">
                	<div class="form-sec">
                    	<div class="row">
                    	<div class="form-body col-sm-6">
                        	<p>Họ *</p>
                            <input type="text" required placeholder="Enter your name" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Tên *</p>
                            <input type="text" required placeholder="Enter your last name" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Email *</p>
                            <input type="email" required placeholder="grabyshop@gmail.com" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Số Điện Thoại *</p>
                            <input type="text" required placeholder="9876543210" />
                        </div>
                        <div class="form-body col-sm-12">
                        	<p>Địa Chỉ *</p>
                            <textarea id="txtdiachi" required placeholder="Street Address, Apartment, suite, unit etc. "></textarea>
                        </div>
                        <div class="form-body col-sm-12">
                        	<p>Thành Phố *</p>
                            <select id="txtthanhpho">
                            	<option value="hue">Huế</option>
                                <option value="hcm">Hồ Chí Minh</option>
                                <option value="danang">Đà Nẵng</option>
                                <option value="hanoi">Hà Nội</option>
                                
                            </select>
                        </div>
                        
                        <div class="clearfix"></div>
                        </div>
                        
                        
                    </div>
                </div>
                
              </div>
              <a href="javascript:void(0)" class="cart-btn previous"><i class="flaticon-2-left-arrow"></i> Back</a>
              <a href="javascript:void(0)" class="cart-btn next" id="vanchuyen">Payment <i class="flaticon-5-thin-right-arrow"></i></a>
                        <div class="clearfix"></div>
              
            </div>
         </fieldset>
         
        	<fieldset class="payment-tab delivery-tab">
         	<div class="col-md-10 col-md-offset-1">

              
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#visa" class="cart-btn" aria-controls="visa" role="tab" data-toggle="tab"><img src="{% static 'img/cart/payment-1.png' %}" alt="" class="img-responsive" /></a></li>
                <li role="presentation"><a href="#Master-card" aria-controls="Master-card" class="cart-btn" role="tab" data-toggle="tab"><img src="{% static 'img/cart/payment-2.png' %}" alt="" class="img-responsive" /></a></li>
                <li role="presentation"><a href="#Paypal" aria-controls="Paypal" class="cart-btn" role="tab" data-toggle="tab"><img src="{% static 'img/cart/payment-3.png' %}" alt="" class="img-responsive" /></a></li>
              </ul>
            
              
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="visa">
                	<div class="form-sec">
                    	<div class="row">
                    	<div class="form-body col-sm-6">
                        	<p>Cardholder Name*</p>
                            <input type="text" required placeholder="Enter your cardholder name" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Card Number *</p>
                            <input type="text" required placeholder="Enter your card number" />
                        </div>
                        
 
                        <div class="col-md-8">
                        <p>End Date*</p>
                        <div class="form-body">
                        	
                            <select>
                            	<option>MM</option>
                                <option>Jan</option>
                                <option>Fab</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>Aug</option>
                                <option>Sept</option>
                                <option>Oct</option>
                                <option>Nav</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        
                        <div class="form-body">
                            <select>
                            	<option>YYYY</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                            </select>
                        </div>
                        </div>
                        <div class="form-body col-sm-4">
                        	<p>CVV *</p>
                            <input type="text" required placeholder="Enter CVV code" />
                        </div>
                        

                        <div class="clearfix"></div>
                        </div>
                        
                        
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="Master-card">
                	<div class="form-sec">
                    	<div class="row">
                    	<div class="form-body col-sm-6">
                        	<p>Cardholder Name*</p>
                            <input type="text" required placeholder="Enter your cardholder name" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Card Number *</p>
                            <input type="text" required placeholder="Enter your card number" />
                        </div>
                        
 
                        <div class="col-md-8">
                        <p>End Date*</p>
                        <div class="form-body col-sm-6">
                        	
                            <select>
                            	<option>MM</option>
                                <option>Jan</option>
                                <option>Fab</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>Aug</option>
                                <option>Sept</option>
                                <option>Oct</option>
                                <option>Nav</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        <div class="form-body col-sm-6">
                            <select>
                            	<option>YYYY</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                            </select>
                        </div>
                        </div>
                        <div class="form-body col-sm-4">
                        	<p>CVV *</p>
                            <input type="text" required placeholder="Enter CVV code" />
                        </div>
                        

                        <div class="clearfix"></div>
                        </div>
                        
                        
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="Paypal">
                	<div class="form-sec">
                    	<div class="row">
                    	<div class="form-body col-sm-6">
                        	<p>Cardholder Name*</p>
                            <input type="text" required placeholder="Enter your cardholder name" />
                        </div>
                        <div class="form-body col-sm-6">
                        	<p>Card Number *</p>
                            <input type="text" required placeholder="Enter your card number" />
                        </div>
                        
 
                        <div class="col-md-8">
                        <p>End Date*</p>
                        <div class="form-body col-sm-6">
                        	
                            <select>
                            	<option>MM</option>
                                <option>Jan</option>
                                <option>Fab</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>Aug</option>
                                <option>Sept</option>
                                <option>Oct</option>
                                <option>Nav</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        <div class="form-body col-sm-6">
                            <select>
                            	<option>YYYY</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                            </select>
                        </div>
                        </div>
                        <div class="form-body col-sm-4">
                        	<p>CVV *</p>
                            <input type="text" required placeholder="Enter CVV code" />
                        </div>
                        

                        <div class="clearfix"></div>
                        </div>
                        
                        
                    </div>
                </div>
              </div>
              <a href="javascript:void(0)" class="cart-btn previous"><i class="flaticon-2-left-arrow"></i> Trở Lại</a>
              <a href="javascript:void(0)" class="cart-btn next">Payment <i class="flaticon-5-thin-right-arrow"></i></a>
                        <div class="clearfix"></div>
              
            </div>
         </fieldset>
         
         	<fieldset class="confirmation-tab delivery-tab">
         	<div class="col-md-12">
         	<div class="dilivery-info">
            	<h4>Thông Tin Giao Hàng</h4>
                <div class="express">
                	<i class="flaticon-6-express"></i>
                    <p>Giao Hàng Nhanh - <span>Miễn Phí</span></p>
                </div>
                <div class="express">
                	<i class="flaticon-placeholder-1"></i>
                    <p id="diachi">407/77 Donel Runn, Blueland NY 125 650.</p>
                </div>
                <div class="express">
                	<i class="flaticon-phone-call"></i>
                    <p id="sodienthoai">+01 9876543210</p>
                </div>
                
                <div class="express deli-pay">
                	<h4>Payment</h4>
                	<i class="flaticon-6-money"></i>
                    <p>Visa xxxx xxxx xxxx 3526</p>
                </div>
            </div>
            
            <div class="delivery-cart dilivery-info">
            	<h4>Giỏ Hàng</h4>
                <div class="cart-detail">
            	<table>
                	<tbody>
                        
                        {% for item in cart %}
                        <tr>
                                <td class="order">
                                    <img src="{{ item.product.thumb.url}}" alt="" class="img-responsive cart-img" width="100px" height="100px"/>
                                    <div class="order-detail">
                                    <p>{{ item.product.title}}</p>
                                    <span>x{{ item.quantity }}</span>
                                    </div>
                                    
                                </td>
                                <td class="order-price"><h5>{{ item.product.get_price_discount_vnd }}</h5><h6>{{ item.product.get_price_vnd }}</h6></td>
                        </tr>
                        {% endfor %}
                            
                    	
                        
                        
                        
                        <tr class="total-price">
                        	<td class="order"><h2>Tổng</h2></td>
                            <td class="order-price"><h3>{{ cart.get_total_price_vnd }}</h3></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            
            <a href="javascript:void(0)" class="cart-btn previous"><i class="flaticon-2-left-arrow"></i> Trở về</a>
            <a href="javascript:void(0)" class="next cart-btn shp-btn pull-right">Xác Nhận Đơn Hàng</a>
            </div>
         </fieldset>
         
         	<fieldset class="confirmation-tab delivery-tab">
         	<div class="col-md-12 success-order">
            	<div class="col-md-6 col-md-offset-3">
         		<img src="{% static 'img/cart/success.png' %}" alt="" class="img-responsive" />
                <h4>Congratulation. Your order is accepted Successfully</h4>
                <p>Let me be clear. Not even close. We did not go by choise. We went because of necessity.</p>
                <a href="javascript:void(0)" class="next shp-btn">Kiểm Tra Đơn Hàng</a>
                </div>
            </div>
         </fieldset>



            </div>

        </div>

        <!--footer-->
        {% include './layouts/footer.html' %}

    </div>
    <!--/shp-cart-->

    <!--js-->
    <script src="{% static "js/ajax.js"%}"></script>
    <script src="{% static "js/jquery-ui.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <!--Quantity-box-->
    <script>
        var unit = 0;
        var total;
        // if user changes value in field
        $('.field').change(function () {
            unit = this.value;
        });
        $('.add').click(function () {


            var $input = $(this).prevUntil('.sub');
            var count = $input.val();
            count++;
            $input.val(count);

        });
        $('.sub').click(function () {

            var $input = $(this).nextUntil('.add');
            var count = $input.val();
            if (count > 0) {
                count--;
                $input.val(count);
            }
        });
    </script>
    <!--Form-step-->
    <script src="{% static "js/form-step.js"%}"></script>
    <!--custom-->
    <script src="{% static "js/custom.js"%}"></script>
    <script language=JavaScript>
        $(document).on("contextmenu", function (e) {
            e.preventDefault();
        });
    </script>
    {% if messages %}
        <script>
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#msform").offset().top
                }, 200);
        </script>
       
    {% endif %}
</body>

<!-- Mirrored from theme.innovatory.in/Graby-shop/cart-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Nov 2019 15:12:30 GMT -->

</html>

<script>
    
    
        
    $('#update-cart').click(function () {
        
        $(".user #field1").each(function(){
            var soluong = $(this).find("input[name='soluong']").val();
            var slug = $(this).find("input[name='slug']").val();
            console.log(slug)
            data ={
                "soluong" : soluong,
                "slug" : slug
            }
            $.ajax({
                url:  "/cart/update/"+slug+"/"+soluong+"",
                type:  'post',
                async: false,
                dataType:  'json',
                success:  function (data) {
                   console.log(data)
                }
            });
        

        });
        location.reload();
    });
    
console.log('hello');

$('#vanchuyen').click(function (e) { 
    e.preventDefault();
    var t = $('#txtdiachi').val()
    var tp = $('#txtthanhpho').val()
	$('#diachi').html(t+" "+tp)
});

</script>